---
Language:        Cpp
BasedOnStyle:    LLVM
Standard:        Auto
TabWidth:        4
UseTab:          Never
ColumnLimit:     120
IndentWidth:     4
AllowShortLoopsOnASingleLine: false
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
ContinuationIndentWidth: 8
DerivePointerAlignment: false
PointerAlignment: Right
AlignAfterOpenBracket: Align
AccessModifierOffset: -4
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true
AlwaysBreakBeforeMultilineStrings: true
MaxEmptyLinesToKeep: 2
AlwaysBreakAfterReturnType: All
SortIncludes: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
...
