[submodule "crypto"]
	path = crypto
url=https://github.com/VirgilSecurity/virgil-crypto-c.git
[submodule "ext/noisesocket"]
	path = ext/noisesocket
	url = https://github.com/VirgilSecurity/noisesocket-lib.git
[submodule "ext/virgil-sdk-cpp"]
	path = ext/virgil-sdk-cpp
	url = https://github.com/VirgilSecurity/virgil-sdk-cpp.git
[submodule "ext/integration_tests_framework"]
	path = ext/integration_tests_framework
	url = https://github.com/VirgilSecurity/iot-integration-tests-framework
