[submodule "sdk/ext/aws-sdk/aws-iot-device-sdk-embedded-C"]
	path = sdk/ext/aws-sdk/aws-iot-device-sdk-embedded-C
	url = https://github.com/VirgilSecurity/aws-iot-device-sdk-embedded-C
[submodule "sdk/ext/libstrophe"]
	path = sdk/ext/libstrophe
	url = https://github.com/VirgilSecurity/libstrophe.git
[submodule "sdk/ext/virgil-crypto-c"]
	path = sdk/ext/virgil-crypto-c
	url = https://github.com/VirgilSecurity/virgil-crypto-c.git
