#####
.pio
debug.*/
release.*/
release/
build*/
install*/
.depends_cache/
codegen/generated/
codegen/test/gsl/
ext/deps/*
docs/doxygen

#####
# OS X temporary files that should never be committed

.DS_Store
*.swp
*.lock
profile

#####
# CLion
.idea
cmake-build*/

####
# Sublime Text 3
*.sublime-workspace

####
# Visual Studio (VisualGDB)
Debug*/
gcc*
obj/
bin/
.vs/

Carthage

####
format_list.txt

####
# Python
__pycache__/



!sdk/config
demo-iotkit-qt.pro.user
wifi_data.ini
demo/esp32/test/.vscode
